<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/xsl" href="../assets/xml/rss.xsl" media="all"?><rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom"><channel><title>Der Gedöns-Blog (Einträge über App)</title><link>https://turboscholz.github.io/blog/</link><description></description><atom:link href="https://turboscholz.github.io/blog/categories/app.xml" rel="self" type="application/rss+xml"></atom:link><language>de</language><copyright>Contents © 2019 &lt;a href="mailto:u.scholz83@gmx.de"&gt;Uwe Scholz&lt;/a&gt; </copyright><lastBuildDate>Wed, 06 Nov 2019 21:38:22 GMT</lastBuildDate><generator>Nikola (getnikola.com)</generator><docs>http://blogs.law.harvard.edu/tech/rss</docs><item><title>Die App "One Piece a Day"</title><link>https://turboscholz.github.io/blog/posts/one-piece-a-day/</link><dc:creator>Uwe Scholz</dc:creator><description>&lt;div&gt;&lt;p&gt;Bei der App "One piece a day" geht es darum, zu dokumentieren, wie viel
Müll man vom Straßenrand aufgehoben hat. Man kann sich ein selbst
gestecktes Ziel aussuchen z.B. 300 Stück im Jahr oder auch mehr oder
weniger. Es gibt eine öffentlich einsehbare Rangliste, so dass man
motiviert wird, am Ball zu bleiben und noch mehr Müll aufzusammeln.
Durch Abzeichen, die bei Meilensteinen freigeschaltet werden, soll man
zusätzlich motiviert werden. Die App ist nicht gewinnorientiert und es
wird aktuell keine Werbung angezeigt. Leider ist die App momentan
komplett auf Englisch, aber es gibt nur wenige Menüs und somit ist das
eigentlich nicht so schlimm. Die Firma, die hinter der App steht, kommt
aus Québec, Kanada, und arbeitet an neuen Funktionen in der App.&lt;/p&gt;
&lt;p&gt;&lt;a href="https://turboscholz.github.io/blog/posts/one-piece-a-day/"&gt;Weiterlesen…&lt;/a&gt; (1 min verbleiben zum Lesen)&lt;/p&gt;&lt;/div&gt;</description><category>App</category><category>Software</category><category>Umwelt</category><guid>https://turboscholz.github.io/blog/posts/one-piece-a-day/</guid><pubDate>Tue, 03 Apr 2018 20:22:43 GMT</pubDate></item><item><title>Auflauf aus der App</title><link>https://turboscholz.github.io/blog/posts/auflauf-aus-der-app/</link><dc:creator>Uwe Scholz</dc:creator><description>&lt;div&gt;&lt;p&gt;Was ihr hier seht ist Kartoffelauflauf mit Béchamelsauße. Dieser Auflauf
schmeckte besser, als er hier aussieht. 😅&lt;/p&gt;
&lt;p&gt;Erwähnenswert ist, dass das Rezept aus der App "Zu gut für die Tonne!"
(oder "Beste Reste") stammt. Ich hatte Kartoffeln und die Paprika übrig
und konnte sie in der App als Ausgangszutaten eingeben. Die App hat mir
dann dieses Auflaufrezept vorgeschlagen, und so konnten wir die
Lebensmittelverschwendung wieder etwas eindämmen. 😋&lt;/p&gt;
&lt;p&gt;&lt;a class="reference external" href="https://www.zugutfuerdietonne.de/praktische-helfer/app/"&gt;https://www.zugutfuerdietonne.de/praktische-helfer/app/&lt;/a&gt;&lt;/p&gt;
&lt;img alt="/images/2018-02-08-Auflauf.jpg" src="https://turboscholz.github.io/blog/images/2018-02-08-Auflauf.jpg"&gt;&lt;/div&gt;</description><category>App</category><category>Essen</category><category>Kochen</category><guid>https://turboscholz.github.io/blog/posts/auflauf-aus-der-app/</guid><pubDate>Thu, 08 Feb 2018 06:58:23 GMT</pubDate></item></channel></rss>